<div class="tygh-header clearfix">
    <div class="container header-grid">


<!-- logo line -->
<div class="row">    <div class="span3 top-logo-grid">
                    <div class=" top-logo">
        <div class="logo-container">
    <a href="https://www.cs-cart.ru/" title="">
        <img src="https://www.cs-cart.ru/images/logos/1/logo_mini2.png" style="width:170px; height:42px;" alt="" class="logo">
    </a>
</div>
    </div>
            </div>



    <div class="span13 ">
                    <div class="    float-left">
        <div class="wysiwyg-content"><address class="contacts_us">
    <span class="phone item">8 (800) 500 80 71</span>

    <a class="ask_us item" href="https://www.cs-cart.ru/contact-form.html">
        <span>Задать вопрос специалисту CS-Cart</span>
    </a>
</address></div>
    </div>
            </div>
</div>
<!-- /logo line -->

        {% include "menu-top.html" %}

        </div>
    </div>
</div>
